@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&display=swap");
@import "header.scss";
@import "main.scss";

:root {
  // primary-colors
  --background-color: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --bright-blue: hsl(220, 98%, 61%);
  --title-text-color: hsl(0, 0%, 98%);
  --text-color: hsl(235, 19%, 35%);

  // font
  --text-font: "Josefin Sans", sans-serif;

  // background
  --bg-mobile: url("../images/bg-mobile-light.jpg");
  --bg-desktop: url("../images/bg-desktop-light.jpg");

  // layouts
  --mobile-layout: 375px;
  --desktop-layout: 1440px;
}

.dark-theme {
  --background-color: hsl(235, 21%, 11%);
  --bg-mobile: url("../images/bg-mobile-dark.jpg");
  --bg-desktop: url("../images/bg-desktop-dark.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--text-font);
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-color);
}
